$ligthBlue: rgba(2, 117, 216, 0.63);
$googleGray: #6e6e6e;
$hoverBlackColor: #000;
$navBgColor: #2f4050;
$secondaryNavColor: #425061;
$mainLigthBlue: #568ceb;
$mainLigthBlueHover: #5f99ff;
$mainLigthBlueActive: #4374cb;
$mainLigthBlueDisable: rgba(86, 140, 235, 0.5);
$tooltipBgColor: #4b525d;

$linkColor: #4081f0;

//wizard
$packagesCategoryTitle :#e9f6ff;
$packagesCategoryBackground: rgba(255, 255, 255, 0.05);

//new widget and dashboard design
$widgetBgTransparent: rgba(17, 20, 21, 0.4);
$widgetTitleColor: rgba(225, 225, 225, .8);
$widgetTextColor: rgba(191, 229, 255, 0.7);
$ligthWhiteGarident: linear-gradient(225deg, rgba(155, 193, 255, .2) 0%, rgba(48, 69, 131, .2) 100%);
$ligthWhiteGaridentHover: linear-gradient(127deg, rgba(215, 215, 215, .25) 0%, rgba(255, 255, 255, .25) 100%);

//new header menu
$serviceHeaderColor: #0d1016;

///table
$tableRowGray: #20282d;
$tableRowDark: #0d141b;

//form element
$packgeCatA: rgb(71, 96, 163);
$packgeCatB: linear-gradient(102deg, rgb(88, 159, 213) 0%, rgb(123, 189, 240) 100%);
$packgeCatC: rgb(49, 150, 172);
$packgeCatAhover: rgba(71, 96, 163, .9);
$packgeCatBhover: linear-gradient(102deg, rgba(88, 159, 213, .9) 0%, rgba(123, 189, 240, .9) 100%);
$packgeCatChover: rgba(49, 150, 172, .9);
;

$inputColor: #282e31;
$inputColorHover: #191e24;
$inputColorFocus: #21252a;
$inputColorDisabled: rgba(44, 49, 52, 0.7);
$inputBorderColerHover: rgba(135, 147, 157, 0.5);
$inputBorderColerFocus: #87939d;
$invalidColor: #f93e58;
$succsessColor: #40c5aa;
$inputMaskColorHoverAndFocus:rgba(130, 98, 224, 1);
$inputMaskTextColor:#24333e;
$inputMaskInvaildColor:#FF6165;
///btns color
$btnText: rgba(255, 255, 255, 0.8);
$inputTextColor: rgba(255, 255, 255, 0.6);
$btnTextDisable: rgba(255, 255, 255, 0.3);
$btnGrayColor: #404650;
$btnGrayColorHover: #535b67;
$btnGrayColorActive: #2a2e35;
$btnGrayColorDisable: rgba(64, 70, 80, 0.5);


