@import "_variables";

.ui-overlaypanel {
  &.grid-context-menu {
    box-shadow: none;
    border: none;
    .ui-overlaypanel-content {
      padding: 0;
    }
  }
}

body{
  .top-menu-overlay.ui-overlaypanel {
    padding: 0;
    margin-left: 5px;
    background-color: $overlay-panel-bg-color;
    color: #333333;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .top-menu-overlay.ui-overlaypanel .ui-overlaypanel-content {
    padding: 0;
    margin: 0;
    background-color: $overlay-panel-bg-color;
  }

  .top-menu-overlay.ui-overlaypanel:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $overlay-panel-bg-color;
  }

  .top-menu-overlay.ui-overlaypanel:before {
    border-color: rgba(200, 200, 200, 0);
    border-bottom-color: $overlay-panel-bg-color;
  }
}
