
.container {
  color: #fff;
  text-align: center;
}

.welcome {
  padding-top: 2em;
  padding-bottom: .5em;
  font-size: 2.2em;
  color: #1b81d7;
}

.content {
  margin: 0 auto;
  width: 40em;
  height: 25em;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  background-position: center top;
  background-size: cover;
  z-index: 1;
  box-shadow: 0 0 0 1px hsla(240,0%,100%,.3) inset,
  .1em .3em 1em rgba(7, 0, 100, 0.6);
  overflow: hidden;
}
.content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  margin: -30px;
  background-image: url('../../assets/images/bg_blue.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.login-title {
  margin-top: 2em;
}

.login-info {
  margin-top: 2em;
  margin-bottom: 2em;
}

.username {
  width: 260px;
  height: 30px;
}

.password {
  width: 260px;
  height: 30px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #af2e2e;
}


.forgot-div {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 260px;
  text-align: right;
}

.forgot {
  color: #d8d5d5;
  position: relative;
  right: 0;
}

.loginBtn {
  width: 260px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(66, 79, 138);
}
