<!--<p>test-comp works!</p>-->
<!--<p>test protractor</p>-->
<!--<button id="addBtn-id" (click)="addValue()">Add</button>-->
<!--<input class="textField" type="text" value="{{ textValue }}" ng-model="textValue" placeholder="change the value">-->
<!--<button data-subtract-btn="subtract" class="subtractBtn-class" (click)="subtractValue()">Subtract</button>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<h3>我是H3</h3>-->
<!--<input class="username" type="text" value="{{ username }}" ng-model="username" placeholder="change the value">-->
<!--<button class="navigate" (click)="navigateTo()">Navigate</button>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<div>-->
<!--  <ul>-->
<!--    <li>-->
<!--      li&#45;&#45;1-->
<!--      <a href="#">链接</a>-->
<!--    </li>-->
<!--    <li>li&#45;&#45;2</li>-->
<!--    <li>li&#45;&#45;3</li>-->
<!--  </ul>-->
<!--</div>-->

<router-outlet></router-outlet>

