<!--<table class="table-class">-->
<!--  <tr class="tr-class">-->
<!--    <th class="th-class">ID</th>-->
<!--    <th class="th-class">Name</th>-->
<!--    <th class="th-class">Operate</th>-->
<!--  </tr>-->

<!--  <tr class="tr-class">-->
<!--    <td class="th-class">1</td>-->
<!--    <td class="th-class">aaa</td>-->
<!--    <td class="th-class">-->
<!--      <button >Edit</button>-->
<!--    </td>-->
<!--  </tr>-->

<!--  <tr class="tr-class">-->
<!--    <td class="th-class">2</td>-->
<!--    <td class="th-class">bbb</td>-->
<!--    <td class="th-class">edit</td>-->
<!--  </tr>-->

<!--</table>-->

<h2 data-h2-test-form>test form</h2>

<button class="btn btn-default dialog-example-btn"
        data-btn-open-dialog
        (click)="openModal()">Open Dialog</button>
